body {
	font-family: Times New Roman, sans-serif;
	margin: 40px;
	background-color: #ffffff;
}

header {
	text-align: center;
}

.copy {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
	display: inline-block;
	margin-top: 5px;
}

.copy:hover {
	color: darkblue;
}